:root {
  --color-primary: #7CC197;
  --color-secondary: #D66761;
  --color-header: #FFE55A;
  --color-footer: #7CC197;
  --color-base-text: #94A592;
  --color-white: #FFF;
  --font-family: 'Lato', sans-serif;
  --font-size-extra-large: 48px;
  --font-size-large: 18px;
  --font-size-medium: 16px;
  --font-size-base: 14px;
  --font-size-small: 13px;
  --font-size-extra-small: 12px;
}
