@import "colors/texts";

@import "displays/elements";
@import "displays/flex";

@import "spaces";

@import "texts/alignments";
@import "texts/font-sizes";
@import "texts/font-weights";
@import "texts/transformations";

@import "transitions/page";

@import "ui/card";

@import "cursors";
@import "fonts";

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
  word-break: break-word;

  @include media-max('sm') {
    position: relative;
    text-align: center;
  }
}

h1 {
  font-size: var(--font-size-extra-large);

  @include media-max('sm') {
    font-size: 27px;
  }
}

h2 {
  font-size: var(--font-size-large);
}

p {
  margin: 0;
}

p,
ul {
  font-size: var(--font-size-base);
}

a {
  color: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
}
